.navbar {
    background-color: #2c72c2;
    font: #FDFEFE;
	
}

.quem-somos {
    background-color: #2c72c2;
    color:#FDFEFE;
    
}

.margin {
   
    padding-bottom: 60px;
    padding-top: 10px;
}

.parceiros {
    background-color: #2c72c2;
}

.serviços {
    background-color: #2c72c2;
    color:#FDFEFE;
    
}

.bg-footer{
    background-color: black;
    color:#FDFEFE;
    
}